<!doctype html>
<html lang="en">
<head>
      <!-- CSS FILES START -->
    <%- include('partials/head.ejs') %>
    <!-- CSS FILES End -->
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
      <!--Header End-->
         <!--Inner Header Start-->
         <section class="wf100 p100 inner-header">
            <div class="container">
               <h1>Blog</h1>
            </div>
         </section>
         <!--Inner Header End--> 
         <!--Blog Start-->
         <section class="wf100 p80 blog">
            <div class="blog-details">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-9 col-md-8">
                        <!--Blog Single Content Start-->
                        <div class="blog-single-content">
                           <div class="blog-single-thumb" style="width: 80%; height: 400px; margin: 0 auto 25px;"><img src="<%= blog.bannerImage%>" alt=""></div>
                           <h3 style="text-transform: capitalize;"><%= blog.title %></h3>
                           <ul class="post-meta">
                              <li><i class="fas fa-user-circle"></i> <%= blog.author%></li>
                              <li><i class="fas fa-calendar-alt"></i> <%= date%></li>
                              <li><i class="fas fa-comments"></i> 134 Comments</li>
                              <li class="tags"><i class="fas fa-tags"></i> <a href="#!">Plant</a> <a href="#!">Trees</a> <a href="#!">Water</a> <a href="#!">Recycling</a></li>
                           </ul>
                           <p> <%- blog.content%> </p>
                           
                           <!-- <p>You need to be sure there isn't anything embarrassing hidden in the middle of text. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage. </p>
                           <blockquote>
                              <p> The inner environment is the society itself. It is the social envi­ronment & endures only so long as the society endures. It consists of the organisations and regula­tions, the traditions and institutions. </p>
                           </blockquote>
                           <p> Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. </p>
                           <h5>Elect the Leader who is Peacemaker for the country</h5>
                           <p> Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapien delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis. </p>
                           <ul class="check-list">
                              <li>Aliquam eget tellus sed dolor accumsan imperdiet.</li>
                              <li> Nunc interdum arcu vel massa faucibus imperdiet.</li>
                              <li> Vestibulum sollicitudin odio nec faucibus venenatis.</li>
                              <li> Etiam iaculis nunc et iaculis sodales.</li>
                           </ul>
                           <ul class="small-gallery">
                              <li> <img src="/images/blog/bsmall1.jpg" alt=""> </li>
                              <li> <img src="/images/blog/bsmall2.jpg" alt=""> </li>
                              <li> <img src="/images/blog/bsmall3.jpg" alt=""> </li>
                           </ul> -->
                           <!--Post Tags Start-->
                           <div class="single-post-tags wf100"> <a href="#!">Solar Energy</a> <a href="#!"> Plant Ecology </a> <a href="#!"> Wildlife </a> <a href="#!"> Eco Ideas </a> <a href="#!"> Waste Management </a> <a href="#!"> Water </a> <a href="#!"> Forest Planting </a> <a href="#!"> Donation </a> <a href="#!"> Wind Energy </a> <a href="#!"> Recycling </a> </div>
                          
                           <div class="wf100 related-posts">
                              <h4>Related Posts</h4>
                              <ul>
                                 <li>
                                    <div class="rp-box">
                                       <h6> <a href="#!">Social innovation of nonprofit, think tank, outcome to donate</a> </h6>
                                       <ul class="post-meta">
                                          <li> <a href="#!"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                          <li> <a href="#!"><i class="fas fa-comments"></i> 134 Comments </a> </li>
                                          <li> <a href="#!"><i class="fas fa-share-alt"></i> 206 Share </a> </li>
                                       </ul>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <!--Blog Single Content End--> 
                     </div>
                     <!--Sidebar Start-->
                     <div class="col-lg-3 col-md-4">
                        <div class="sidebar">
                           <!--Widget Start-->
                           <div class="side-widget">
                              <h5>Search</h5>
                              <div class="side-search">
                                 <form>
                                    <input type="search" class="form-control" placeholder="Search">
                                    <button><i class="fas fa-search"></i></button>
                                 </form>
                              </div>
                           </div>
                           <div class="side-widget">
                              <h5>News & Articles</h5>
                              <ul class="lastest-products">
                                 <%blogs.forEach((blg)=>{ %>
                                    <li style="display: flex;"> 
                                       <div style="background: url('<%= blg.bannerImage%>'); background-size: cover; background-position: center; width: 120px; height: 65px; margin-right: 4px;"></div>
                                       <div>
                                          <strong style="text-transform: capitalize;"><a href="/blog/<%= blg._id%>"><%= blg.title %> ...</a></strong> 
                                          <span class="pdate"><i class="fas fa-calendar-alt"></i> <%= blg.type%></span>
                                       </div>
                                     </li>
                                 <%  }) %>
                              </ul>
                           </div>
                           <div class="side-widget">
                              <h5>Tags</h5>
                              <div class="single-post-tags"> <a href="#!">Solar Energy</a> <a href="#!"> Plant Ecology </a> <a href="#!"> Wildlife </a> <a href="#!"> Eco Ideas </a> <a href="#!"> Waste Management </a> <a href="#!"> Water </a> <a href="#!"> Forest Planting </a> <a href="#!"> Donation </a> <a href="#!"> Wind Energy </a> <a href="#!"> Recycling </a> </div>
                           </div>
                           <!--Widget End--> 
                           <!--Widget Start-->
                           
                           <div class="side-widget side-volunteer-form">
                              <h5>Become a Volunteer</h5>
                              <form  id="join-us-form" >
                                 <ul>
                                    <li>
                                       <input type="text" class="form-control" placeholder="Your Name" aria-label="Your Name" id="fullName" name="fullname" required>
                                    </li>
                                    <li>
                                       <input type="text" class="form-control" placeholder="Email Address" aria-label="Email Address" name="email" id="email" required>
                                    </li>
                                    <li>
                                       <input type="text" class="form-control" placeholder="Contact" aria-label="Contact" name="phone" id="phone" required>
                                    </li>
                                    <li>
                                       <input type="submit" class="fsubmit" value="Signup to Join us Now">
                                    </li>
                                 </ul>
                              </form>
                              <p id="msg" class="mt-4 mx-2" style="text-align: center;"> </p>
                           </div>
                           <!--Widget End--> 
                           <!--Widget Start-->
                           <!-- <div class="side-widget">
                              <div class="donation-amount">
                                 <h5>Make a Donation</h5>
                                 <form>
                                    <ul class="radio-boxes">
                                       <li>
                                          <div class="radio custom">
                                             <input name="donation" id="d1" type="radio" class="css-radio">
                                             <label for="d1" class="css-label">$5</label>
                                          </div>
                                       </li>
                                       <li>
                                          <div class="radio custom">
                                             <input name="donation" id="d2" type="radio" class="css-radio">
                                             <label for="d2" class="css-label">$20</label>
                                          </div>
                                       </li>
                                       <li>
                                          <div class="radio custom">
                                             <input name="donation" id="d3" type="radio" class="css-radio">
                                             <label for="d3" class="css-label">$50</label>
                                          </div>
                                       </li>
                                       <li>
                                          <div class="radio custom">
                                             <input name="donation" id="d4" type="radio" class="css-radio">
                                             <label for="d4" class="css-label">$100</label>
                                          </div>
                                       </li>
                                       <li>
                                          <div class="radio custom">
                                             <input name="donation" id="d5" type="radio" class="css-radio">
                                             <label for="d5" class="css-label">$250</label>
                                          </div>
                                       </li>
                                       <li>
                                          <div class="radio custom">
                                             <input name="donation" id="d6" type="radio" class="css-radio">
                                             <label for="d6" class="css-label">$500</label>
                                          </div>
                                       </li>
                                       <li class="last-input">
                                          <div class="inputs">
                                             <input class="enter" type="text" placeholder="Enter other amout $ ">
                                          </div>
                                       </li>
                                       <li class="form-submit">
                                          <button type="submit">Continue to Donate</button>
                                       </li>
                                    </ul>
                                 </form>
                              </div>
                           </div> -->
                           <!--Widget End-->
                        </div>
                     </div>
                     <!--Sidebar End--> 
                  </div>
               </div>
            </div>
         </section>
         <!--Blog End--> 
         
      <!--Footer Start-->        
      <%- include('partials/footer.ejs') %>
      <!--Footer End-->
    </div>
    <!--   JS Files Start  -->    
    <%- include('partials/scripts') %>  </body>
   </body>

</html>