<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- CSS FILES START -->
    <%- include('partials/head.ejs') %>
    <!-- CSS FILES End -->
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
      <!--Header End-->
      <!--Inner Header Start-->
      <section class="wf100 p100 inner-header">
        <div class="container">
          <h1>Events</h1>
        </div>
      </section>
      <!--Inner Header End-->
      <!--Causes Start-->
      <section class="wf100 p80 events">
        <div class="event-list-two">
          <div class="container">
            <div class="row">
              <div class="col-lg-9 col-md-8">
                <!--Event Box Start-->
               <% events.forEach(event=>{ %>
                <div class="event-list-box"> 
                  <div class="event-thumb">
                    <a href="/events/<%=event._id %>"><i class="fas fa-link"></i></a>
                    <img src="<%= event.bannerImage%>" style="height: 166px;" alt="" />
                  </div>
                  <!-- <ul class="event-meta">
                    <li><strong>Date:</strong> 29 August, 2018</li>
                    <li><strong>Time:</strong> 09:30 am - 03:00 pm</li>
                    <li><strong>Venue:</strong> 150 / G iii, Newyork, USA</li>
                  </ul> -->
                  <div class="event-txt" style="width: 70%;">
                    <h4>
                      <a href="/events/<%=event._id %>"
                        ><%= event.title %></a
                      >
                    </h4>
                    <div>
                      <%- event.content %>
                    </div>
                    <a href="/events/<%=event._id %>" class="attbtn">Attend Event</a>
                  </div>
                </div>
                <% }) %>
                
                <!--Event Box End-->
                
              </div>
              <div class="col-lg-3 col-md-4">
                <div class="sidebar">
                  <!--Widget Start-->
                  <div class="side-widget">
                    <h5>Search</h5>
                    <div class="side-search">
                      <form>
                        <input
                          type="search"
                          class="form-control"
                          placeholder="Search"
                        />
                        <button><i class="fas fa-search"></i></button>
                      </form>
                    </div>
                  </div>
                  <!--Widget End-->
                  <!--Widget Start-->
                  <!-- <div class="side-widget text-widget">
                    <h5>Text Widget</h5>
                    <p>
                      We are Ecova: eco &amp; environmental community. We need
                      your support and help to Stop Globar Warning. Few
                      generations ago it to seemed like world’s resources were
                      infinite, and the people needed only to access them to
                      create business, Lorem ipsum dolor it amet consect
                      adipiscing.
                    </p>
                  </div> -->
                  <!--Widget End-->
                  <!--Widget Start-->
                  <div class="side-widget">
                    <h5>News &amp; Articles</h5>
                    <ul class="lastest-products">
                      <li>
                        <img src="/images/flp1.jpg" alt="" />
                        <strong
                          ><a href="#"
                            >How you can keep alive wild animals for...</a
                          ></strong
                        >
                        <span class="pdate"
                          ><i class="fas fa-calendar-alt"></i> 29 September,
                          2018</span
                        >
                      </li>
                      <li>
                        <img src="/images/flp2.jpg" alt="" />
                        <strong
                          ><a href="#"
                            >Eliminate your plastic bottle pollution</a
                          ></strong
                        >
                        <span class="pdate"
                          ><i class="fas fa-calendar-alt"></i> 29 September,
                          2018</span
                        >
                      </li>
                      <li>
                        <img src="/images/flp3.jpg" alt="" />
                        <strong
                          ><a href="#"
                            >How you can keep alive wild animals for...</a
                          ></strong
                        >
                        <span class="pdate"
                          ><i class="fas fa-calendar-alt"></i> 29 September,
                          2018</span
                        >
                      </li>
                    </ul>
                  </div> -->
                  <!--Widget Start
                  <!--Widget Start-->
                  
                  <!--Widget End-->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="gt-pagination mt20">
                  <nav>
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <i class="fas fa-angle-left"></i>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <i class="fas fa-angle-right"></i>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Causes End-->
     
      <!--Footer Start-->        
      <%- include('partials/footer.ejs') %>
      <!--Footer End-->
    </div>
    <!--   JS Files Start  -->    
    <%- include('partials/scripts') %>  </body>
</html>
