<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- CSS FILES START -->
    <%- include('partials/head.ejs') %>
    <!-- CSS FILES End -->
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
         <!--Header End-->
         <!--Inner Header Start-->
         <section class="wf100 p100 inner-header">
            <div class="container">
               <h1>Project Details</h1>
               <!-- <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Pages </a></li>
                  <li><a href="#">Projects</a></li>
                  <li><a href="#">Solar & Wind Energies</a></li>
               </ul> -->
            </div>
         </section>
         <!--Inner Header End--> 
         <!--Blog Start-->
         <section class="wf100 p80 blog">
            <div class="blog-details">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-9 col-md-8">
                        <!--Blog Single Content Start-->
                        <div class="blog-single-content">
                           <div class="blog-single-thumb"><img src="<%= project.bannerImage %>" style="width: 90%; height: 480px;" alt="Clean-up Exercise At The University Of Ibadan Trade Fair"></div>
                           <h3><%= project.title %></h3>
                           <ul class="post-meta">
                              <li><i class="fas fa-user-circle"></i><%= project.author %></li>
                              <li><i class="fas fa-calendar-alt"></i> <%= date %></li>
                              <li><i class="fas fa-comments"></i> 134 Comments</li>
                              <li class="tags"><i class="fas fa-tags"></i> <a href="#">Plant</a> <a href="#">Recycling</a></li>
                           </ul>
                           <!-- <p id="content"> </p>  -->
                           <p > <%- project.content %></p> 
                        </div>
                        <!--Blog Single Content End--> 
                     </div>
                     <div class="col-lg-3 col-md-4">
                        <div class="sidebar">
                           <!--Widget Start-->
                           <div class="side-widget">
                              <h5>Search</h5>
                              <div class="side-search">
                                 <form>
                                    <input type="search" class="form-control" placeholder="Search">
                                    <button><i class="fas fa-search"></i></button>
                                 </form>
                              </div>
                           </div>
                           <!--Widget End--> 
                           <!--Widget Start-->
                           <!-- <div class="side-widget text-widget">
                              <h5>Text Widget</h5>
                              <p> We are Ecova: eco &amp; environmental community. We need your support and help to Stop Globar Warning. Few generations ago it to seemed like world’s resources were infinite, and the people needed only to access them to create business, Lorem ipsum dolor it amet consect adipiscing. </p>
                           </div> -->
                           <!--Widget End--> 
                           <!--Widget Start-->
                           <div class="side-widget">
                              <h5>News &amp; Articles</h5>
                              <ul class="lastest-products">
                                 <li> <img src="images/flp1.jpg" alt=""> <strong><a href="#">How you can keep alive wild animals for...</a></strong> <span class="pdate"><i class="fas fa-calendar-alt"></i> 29 September, 2018</span> </li>
                                 <li> <img src="images/flp2.jpg" alt=""> <strong><a href="#">Eliminate your plastic bottle pollution</a></strong> <span class="pdate"><i class="fas fa-calendar-alt"></i> 29 September, 2018</span> </li>
                                 <li> <img src="images/flp3.jpg" alt=""> <strong><a href="#">How you can keep alive wild animals for...</a></strong> <span class="pdate"><i class="fas fa-calendar-alt"></i> 29 September, 2018</span> </li>
                              </ul>
                           </div>
                           <!--Widget Start--> 
                           <!--Widget Start-->
                           <div class="side-widget project-list-widget">
                              <h5>Current Projects</h5>
                              <ul>
                                 <li><a href="#">Waste Management</a></li>
                                 <li><a href="#">Recycling Materials</a></li>
                                 <li><a href="#">Saving Wildlife</a></li>
                                 <li><a href="#">Water Resources</a></li>
                                 <li><a href="#">Forest &amp; Tree Planting</a></li>
                              </ul>
                           </div>
                           <!--Widget End--> 
                           <!--Widget Start-->
                           <div class="side-widget">
                              <h5>Tags</h5>
                              <div class="single-post-tags"> <a href="#">Solar Energy</a> <a href="#"> Plant Ecology </a> <a href="#"> Wildlife </a> <a href="#"> Eco Ideas </a> <a href="#"> Waste Management </a> <a href="#"> Water </a> <a href="#"> Forest Planting </a> <a href="#"> Donation </a> <a href="#"> Wind Energy </a> <a href="#"> Recycling </a> </div>
                           </div>
                           <!--Widget End--> 
                           <!--Widget Start-->
                           <!-- <div class="side-widget">
                              <h5>Recent Work</h5>
                              <div id="side-slider" class="owl-carousel owl-theme">  -->
                <!--Item Start-->
                <!-- <div class="item">
                  <div class="pro-box"> <img src="images/current-pro2.jpg" alt="">
                    <h5>Forest &amp; Tree Planting</h5>
                    <div class="pro-hover">
                      <h6>Forest &amp; Tree Planting</h6>
                      <p>We are working over 20 years on Waste Management &amp; Material Recycling Projects.</p>
                      <a href="#">Read More</a> </div>
                  </div>
                </div> -->
                <!--Item End--> 
                               
              <!-- </div>
                           </div>  -->
                           <!--Widget Start-->
                           <!-- <div class="side-widget archives">
                              <h5>Archives</h5>
                              <ul>
                                 <li><a href="#"> November 2018</a></li>
                                 <li><a href="#"> October 2018</a></li>
                                 <li><a href="#"> September 2018</a></li>
                                 <li><a href="#"> August 2018</a></li>
                                 <li><a href="#"> July 2018</a></li>
                                 <li><a href="#"> June 2018</a></li>
                                 <li><a href="#"> May 2018</a></li>
                                 <li><a href="#"> April 2018</a></li>
                                 <li><a href="#"> March 2018</a></li>
                                 <li><a href="#"> February 2018</a></li>
                                 <li><a href="#"> January 2018</a></li>
                                 <li><a href="#"> December 2017</a></li>
                              </ul>
                           </div> -->
                           <!--Widget End--> 
                           <!--Widget Start-->
                           <!-- <div class="side-widget">
                              <div class="donation-amount">
                                 <h5>Make a Donation</h5>
                                 <form>
                                    <ul class="radio-boxes">
                                       <li>
                                          <div class="radio custom">
                                             <input name="donation" id="d1" type="radio" class="css-radio">
                                             <label for="d1" class="css-label">$5</label>
                                          </div>
                                       </li>
                                       <li>
                                          <div class="radio custom">
                                             <input name="donation" id="d2" type="radio" class="css-radio">
                                             <label for="d2" class="css-label">$20</label>
                                          </div>
                                       </li>
                                       <li>
                                          <div class="radio custom">
                                             <input name="donation" id="d3" type="radio" class="css-radio">
                                             <label for="d3" class="css-label">$50</label>
                                          </div>
                                       </li>
                                       <li>
                                          <div class="radio custom">
                                             <input name="donation" id="d4" type="radio" class="css-radio">
                                             <label for="d4" class="css-label">$100</label>
                                          </div>
                                       </li>
                                       <li>
                                          <div class="radio custom">
                                             <input name="donation" id="d5" type="radio" class="css-radio">
                                             <label for="d5" class="css-label">$250</label>
                                          </div>
                                       </li>
                                       <li>
                                          <div class="radio custom">
                                             <input name="donation" id="d6" type="radio" class="css-radio">
                                             <label for="d6" class="css-label">$500</label>
                                          </div>
                                       </li>
                                       <li class="last-input">
                                          <div class="inputs">
                                             <input class="enter" type="text" placeholder="Enter other amout $ ">
                                          </div>
                                       </li>
                                       <li class="form-submit">
                                          <button type="submit">Continue to Donate</button>
                                       </li>
                                    </ul>
                                 </form>
                              </div>
                           </div> -->
                           <!--Widget End--> 
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <!--Blog End--> 
        <!--Footer Start-->        
      <%- include('partials/footer.ejs') %>
      <!--Footer End-->
    </div>
    <%- include('partials/scripts') %>
    
   </body>

</html>