<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- CSS FILES START -->
    <%- include('partials/head.ejs') %>
    <!-- CSS FILES End -->
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
         <!--Header End-->
      <!--Inner Header Start-->
      <section class="wf100 p100 inner-header">
        <div class="container">
          <h1>Projects</h1>
        </div>
      </section>
      <!--Inner Header End-->
      <!--Causes Start-->
      <section class="wf100 p80 blog">
        <div class="projects-grid">
          <div class="container">
            <div class="row">
              
              <div class="col-md-4 col-sm-6">
                <div class="ser-box">
                  <div class="ser-thumb">
                    <a href="/projects/pro/clean_up_exercise_at_the_ui"><i class="fas fa-link"></i></a>
                    <img src="/images/projects/clean-up.png" alt="" />
                  </div>
                  <div class="ser-txt">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                      <h6><a href="/projects/pro/clean_up_exercise_at_the_ui">Clean-up Exercise At The University Of Ibadan</a></h6>
                      <span class="aicon" style="position: relative; top: 0;"
                        ><i class="fas fa-arrow-right"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
<!--  
              <div class="col-md-4 col-sm-6">
                <div class="ser-box">
                  <div class="ser-thumb">
                    <a href="/projects/pro/climate_change_is_real"><i class="fas fa-link"></i></a>
                    <img src="/images/projects/pg_2_cover.jpeg" alt="" />
                  </div>
                  <div class="ser-txt">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                      <h6><a href="/projects/pro/climate_change_is_real">Climate Change Is Real... Let's All Take Action</a></h6>
                      <span class="aicon" style="position: relative; top: 0;"
                        ><i class="fas fa-arrow-right"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-md-4 col-sm-6">
                <div class="ser-box">
                  <div class="ser-thumb">
                    <a href="/projects/pro/climate_change_is_real_2"><i class="fas fa-link"></i></a>
                    <img src="/images/projects/pg_2_cover.jpeg" alt="" />
                  </div>
                  <div class="ser-txt">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                      <h6><a href="/projects/pro/climate_change_is_real_2">Climate Change Is Real... (Continuation)</a></h6>
                      <span class="aicon" style="position: relative; top: 0;"
                        ><i class="fas fa-arrow-right"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div> -->

              <% projects.forEach((proj)=>{ %>
                <div class="col-md-4 col-sm-6">                  
                  <div class="ser-box">
                    <div class="ser-thumb" >
                      <a href="/projects/<%= proj._id %>"><i class="fas fa-link"></i></a>
                      <img src="<%= proj.bannerImage%>" style="height: 275px;" alt="" />
                    </div>
                    <div class="ser-txt">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h6><a href="/projects/<%= proj._id %>"><%= proj.title%></a></h6>
                        <span class="aicon" style="position: relative; top: 0;"
                          ><i class="fas fa-arrow-right"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                </div>
             <% }) %>
                           
              <div class="gt-pagination">
                <nav>
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <i class="fas fa-angle-left"></i>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item ">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <i class="fas fa-angle-right"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Causes End-->
      <!--Footer Start-->
      <%- include('partials/footer.ejs') %>
      <!--Footer End-->
    </div>
    <!--   JS Files Start  -->
    <%- include('partials/scripts') %>
  </body>
</html>
